<div class="header">
    <div class="logo">
      <!-- Your logo content goes here -->
      <img src="https://e7.pngegg.com/pngimages/157/891/png-clipart-web-development-online-shopping-e-commerce-retail-business-retail-service.png" alt="Logo">
    </div>
  
    <div class="menu">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/category" routerLinkActive="active">Jewellery</a>
      <a routerLink="/category" routerLinkActive="active">Electronics</a>

    </div>
  
    <div class="actions">
      <a routerLink="/cart" routerLinkActive="active">Cart<span id="cartCount">0</span></a>
      <a routerLink="/login" routerLinkActive="active">Login/Logout</a>
    </div>
  </div>
  